@model IEnumerable<Capluga.Entities.FacturaEnt>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h2 class="mb-0">Factura</h2>
                        </div>
                        <div class="col-6 text-right">
                            <img src="~/Images/Logo.png" alt="Logo" class="logo" style="height: 50px;">
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row mb-4">
                        <div class="col-sm-8">
                            <div>Factura #: <strong>@Model.FirstOrDefault().MasterPurchaseID</strong></div>

                            <div>Fecha: <strong>@Model.FirstOrDefault().PurchaseDate.ToString("dd/MM/yyyy")</strong></div>

                        </div>
                        <div class="col-sm-4 text-right">
                            <h6 class="text-muted">Pagado por: <strong>@Model.FirstOrDefault().UserName @Model.FirstOrDefault().Surnames</strong></h6>


                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>

                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio X Und</th>
                                    <th>Impuesto X Und</th>
                                    <th>SubTotal</th>
                                    <th>Impuesto</th>
                                    <th>Total</th>
                                    <th>Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.Name</td>
                                        <td>@item.PaidQuantity</td>
                                        <td>@item.PaidPrice.ToString("¢")</td>
                                        <td>@item.Tax.ToString("¢")</td>
                                        <td>@item.SubTotal.ToString("¢")</td>
                                        <td>@item.Impuesto.ToString("¢")</td>
                                        <td>@item.Total.ToString("¢")</td>
                                        <td>@item.PaymentStatus</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="text-right mt-4">
                        <h5>Total: <span class="text-primary">@Model.Sum(item => item.Total).ToString("¢")</span></h5>
                    </div>



                    <div class="invoice-footer mt-5">
                        <div class="text-right">
                            @using (Html.BeginForm("DescargarPDF", "Document", FormMethod.Post, new { @class = "d-inline" })) // Añade 'd-inline' para alinear inline
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("masterPurchaseID", Model.FirstOrDefault().MasterPurchaseID)
                                <button type="submit" class="btn btn-primary mr-2">
                                    <!-- Añade 'mr-2' para margen derecho -->
                                    <i class="fas fa-file-pdf"></i> Descargar PDF
                                </button>
                            }

                            @using (Html.BeginForm("ExportarAExcel", "Document", FormMethod.Post, new { @class = "d-inline" })) // Añade 'd-inline' para alinear inline
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("masterPurchaseID", Model.FirstOrDefault()?.MasterPurchaseID)
                                <button type="submit" class="btn btn-info">
                                    <i class="fas fa-file-excel"></i> Exportar a Excel
                                </button>
                            }
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "paging": false,
            "info": false
        });
    });
</script>
